body {
  font-family: 'Nunito Sans', sans-serif;
  background: #E9E4E2;
}

.header {
  background: #fff;
  .logo {
    width: 320px;
    margin: 15px 0;
  }
  a{
    color:#147E0A;
    &:hover {
      text-decoration: none;
    }
  }
}


.brand-gradient {
  /* Rectangle: */
  background-image: linear-gradient(-90deg, #147E0A 0%, #7FBD12 100%);
}

.navbar {
  .bg-dark{
    background-image: linear-gradient(-90deg, #147E0A 0%, #7FBD12 100%);
  }
  .nav-link {
    text-transform: uppercase;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  &::before{
    content: "";
    width: 1px;
    height: 23px;
    background: #fff;
    float: left;
    margin-right: 14px;
  }
}
.navbar-nav li:first-child a {
  &::before{
    display: none;
  }
}

.white-box {
  background: #FFFFFF;
  box-shadow: 0 2px 44px 0 rgba(0,0,0,0.03);
  border-radius: 8px;
}

.bid-product {
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
  .image {
    margin: 30px 0;
    img{
      width: 100%;
    }
  }
  .number{
    font-size: 18px;
    position: absolute;
    left: 24px;
    top: 20px;
    width: 80%;
    text-align: left;
    small {
      font-size: 66%;
      font-weight: 400;
    }
  }
  .price {
    font-family: NunitoSans-Bold;
    font-size: 19px;
    color: #52A30F;
    margin-top: 10px;
  }
}

.recent-products {
  .nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-color: transparent;
    /* border: none; */
  }
  .nav-link {
    color: #686868;
    font-weight: 700;
  }
}

/*------------- Large Screen Panel ------------------*/
html,body {
  height:100%;
  margin:0;
}
.col-d{
  height:50%;
  width: 33.33333333333333%;
  float: left;
  border: solid 1px #D2D2D2;
  h1{
    background: green;
    font-size: 21px;
    padding: 10px;
    color: #fff;
  }
  h1.green-light {
    background: #7FBD12;
  }
}

.timer {
  .minutes, .seconds{
    width: 48%;
    float: left;
    text-align: center;
    h2 {
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
    }
    .number {
      display: inline-block;
      font-size: 84px;
      line-height: 84px;
      background: #000;
      padding: 15px;
      color: #fff;
    }
    .seconds {
      background: blueviolet;
    }
  }
  .dots{
    float: left;
    height: 70px;
    width: 3%;
  }
}

.lotes-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    width: 100%;
    float: left;
    border-bottom: solid 1px red;
    padding-bottom: 15px;
    margin-top: 15px;
  }
  .image-holder {
    float: left;
    img {
      width: 80px;
    }
    
  }
}

.lotes-images-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    float: left;
  }
}


.next-auctions {
  overflow: hidden;
  h3 {
    background: #7CBB11;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 17px 15px 13px 25px;
    &::before {
      content: "";
      background: #fff;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      float: left;
      margin-top: 10;
      border-radius: 3px;
    }
  }
  .auction-post {
    border-bottom: solid 3px #EFEFEF;
    margin: 20px 25px 20px 25px;
    padding-bottom: 12px;
    &:last-child {
      border-bottom: none;
    }
  }
  .auction-post-title {
    font-size: 20px;
    font-weight: 700;
    color: #3D970D;
  }
}

/*----------------- Carousel ---------------------*/
.carousel-indicators {
  bottom: 0;
  li {
    background-color: #ECECEC;
    &.active {
    background-color: #7CBB11;
    }
  }
}
.carousel-item {
  .text {
    margin-bottom: 45px;
  }
}

.slider-container {
  margin-bottom: 1rem;
}
.slider-title {
  font-size: 29px;
  color: #F2CD00;
  padding-top: 25px;
}
.slider-price {
  font-size: 35px;
  color: #686868;
  font-weight: 700;
  .currency {
    font-size: 17px;
    color: #686868;
  }
  .digits {
    font-size: 17px;
  }
}

.bs-title {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 17px 15px 13px 25px;
  &::before {
    content: "";
    background: #fff;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    float: left;
    margin-top: 10;
    border-radius: 3px;
  }
}

.gray-top-title {
  font-size: 14px;
  font-weight: 700;
  color: #52A30F;
  background: #F2F2F2;
  padding: 4px;
  text-align: center;
}
.au-title{
  font-size: 14px;
  color: #686868;
  text-transform: uppercase;
}
.au-price.text-success{
  color: #28a745!important;
  font-size: 20px;
}

.height-100 {
  height: 100%;
}

.white-box.bid-product {
  margin: 4px;
}

footer {
  background: #fff;
  padding-top: 25px;
  margin-top: 50px;
  padding-bottom: 25px;
  .ft-logo {
    width: 300px;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #686868;
    line-height: 22px;
  }
}

.d1{ background: pink;}
.d2{ background: yellow;}
.d3{ background: #ccc;}