@import "_global.scss";
@import "_variables.scss";
@import "_responsive.scss";



.d1 {background: pink; }
.d2 {background: orange; }
.d3 {background: lightcyan; }
.d4 {background: lightgreen; }
.d5 {background: lightgoldenrodyellow; }
.d6 {background: yellow; }
.d7 {background: purple; }
