body {
  font-family: 'Nunito Sans', sans-serif;
  background: #E9E4E2;
}

.header {
  background: #fff;
}

.header .logo {
  width: 320px;
  margin: 15px 0;
}

.header a {
  color: #147E0A;
}

.header a:hover {
  text-decoration: none;
}

.navbar .bg-dark {
  background-image: linear-gradient(-90deg, #147E0A 0%, #7FBD12 100%);
}

.navbar .nav-link {
  text-transform: uppercase;
}

.white-box {
  background: #FFFFFF;
  box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}

.bid-product {
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.bid-product .image {
  margin: 30px 0;
}

.bid-product .image img {
  width: 100%;
}

.bid-product .price {
  font-family: NunitoSans-Bold;
  font-size: 19px;
  color: #52A30F;
  margin-top: 10px;
}

.recent-products .nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent;
  border-color: transparent;
  /* border: none; */
}

.recent-products .nav-link {
  color: #686868;
  font-weight: 700;
}

/*------------- Large Screen Panel ------------------*/
html, body {
  height: 100%;
  margin: 0;
}

.col-d {
  height: 50%;
  width: 33.33333333333333%;
  float: left;
  border: solid 1px #D2D2D2;
}

.col-d h1 {
  background: green;
  font-size: 21px;
  padding: 10px;
  color: #fff;
}

.col-d h1.green-light {
  background: #7FBD12;
}

.timer .minutes, .timer .seconds {
  width: 48%;
  float: left;
  text-align: center;
}

.timer .minutes h2, .timer .seconds h2 {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

.timer .minutes .number, .timer .seconds .number {
  display: inline-block;
  font-size: 84px;
  line-height: 84px;
  background: #000;
  padding: 15px;
  color: #fff;
}

.timer .minutes .seconds, .timer .seconds .seconds {
  background: blueviolet;
}

.timer .dots {
  float: left;
  height: 70px;
  width: 3%;
}

.lotes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lotes-list li {
  width: 100%;
  float: left;
  border-bottom: solid 1px red;
  padding-bottom: 15px;
  margin-top: 15px;
}

.lotes-list .image-holder {
  float: left;
}

.lotes-list .image-holder img {
  width: 80px;
}

.lotes-images-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lotes-images-list li {
  float: left;
}

@media (min-width: 260px) {
  body:before {
    content: "Mobile: 260px";
    background: purple;
    position: fixed;
    right: 0;
    padding: 10px;
    z-index: 1;
    bottom: 0;
  }
}

@media (min-width: 576px) {
  body:before {
    content: "Landscape: 576px";
    background: red;
  }
  .user-access {
    float: right;
    margin-top: 33px;
  }
}

@media (min-width: 768px) {
  body:before {
    content: "tablets: 768px";
    background: green;
  }
}

@media (min-width: 992px) {
  body:before {
    content: "Desktops: 992px";
    background: yellow;
  }
  .hide-on-desktop {
    display: none;
  }
  .ml-auto, .mx-auto {
    margin-left: 0 !important;
  }
}

@media (min-width: 1200px) {
  body:before {
    content: "Large desktops: 1200px";
    background: pink;
  }
}

.d1 {
  background: pink;
}

.d2 {
  background: orange;
}

.d3 {
  background: lightcyan;
}

.d4 {
  background: lightgreen;
}

.d5 {
  background: lightgoldenrodyellow;
}

.d6 {
  background: yellow;
}

.d7 {
  background: purple;
}
/*# sourceMappingURL=styles.css.map */